.Vehicles__title {
	font-family: 'SF Distant Galaxy';
	letter-spacing: 4px;
}

.Vehicles__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 0;
}

.Vehicles__list-item {
	display: flex;
	padding: 8px 12px;
}
